.userInfo-container {
  display: flex;
  margin: 20px 0;
}

.info-left {
  width: 180px;
  height: 180px;
  border: 1px solid #ccc;
  padding: 2px;
  box-sizing: content-box;
  margin-right: 20px;
}
.info-left-avatar {
  width: 180px;
  height: 180px;
}
.info-right {
  flex: 1;
}
.info-right>div:first-child span:nth-child(2) {
    font-size: 18px;
    border: 1px solid #d80000;
    padding: 0 6px;
    border-radius: 10px;
    color: #df0303;
}
.follow {
  display: flex;
  align-items: center;

}
.divider {
    width: 1px;
    height: 70px;
    line-height: 70px;
    margin: 0 20px;
    background-color: #ccc;
}