/* 轮播图 */
.swiper-item {
    width: 600px;
    line-height: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

/* 推荐歌单 */
.rec-container {
    display: flex;
    justify-content: space-between;
}
/* 最新歌单 */
.songs-container>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.mv-wrap {
    display: flex;
    justify-content: space-between;
}
