/* 头部区域 */
.recommend-head {
  width: 100%;
  margin-top: 16px;
  overflow: hidden;
}
.recommend-head img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right:  20px;
}

.tag-list {
    margin: 20px 0;
}

.recommend-songs {
    display: flex;
    flex-wrap: wrap;
}